h1 {
    color: red;
}

/*Estoy probando colores y fuentes */
p {
    color: blue;
    font-size: 16pt;
}

/*Selectores de id (usamos #) */
#primera-noticia{
    color: green;
    size: 12pt;
}

#segunda-noticia{
    color: darkmagenta;
}

/* Selectores de clase (usamos .) */

.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}


/* Este es el selector universal */
*.warning{
  color: red;
}

/* Afectando diferentes selectores*/
.autor, .fecha, .ubicacion, h1, #segunda-noticia{
    text-decoration: underline;
}